@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!-- Einzelner Button -->

    <h1 class="display-4">Willkommen im Buchungssystem</h1>
    <p>Es sind Buchungen vorhanden Anzahl:@Model.AnzahlBuchungen</p>
</div>
